<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>Component</title>
    {{{jsFiles}}}
    {{#if dev}}
      <script src="{{projectName}}/js/socket.io.slim.js" defer></script>
    {{/if}}
    {{#if a11yTests}}
      <script src="{{projectName}}/js/axe.min.js" defer></script>
    {{/if}}
    <script src="{{projectName}}/js/iframe.js"{{#if dev}} type="module"{{/if}}{{#if prod}} defer{{/if}}></script>
    {{{cssFiles}}}
    <link rel="stylesheet" href="{{projectName}}/css/iframe.css">
    {{#if a11yTestsPreload}}
      <link rel="prefetch" href="{{projectName}}/js/axe.min.js">
    {{/if}}
  </head>
  <body class="RoundupIframe">
    {{#block "body"}}{{/block}}
    {{#if standaloneUrl}}
      <a class="RoundupIframe-newTabLink" href="{{standaloneUrl}}" target="_blank">Open in new tab</a>
    {{/if}}
  </body>
</html>
