{{#extend "iframe"}}
{{#content "body"}}
<div class="HeadmanWrapper">
  <div class="HeadmanComponents">
    {{#if components}}
    {{#each components}}
    <div class="HeadmanComponent">
      <a href="{{this.url}}" class="HeadmanComponent-file">
        {{#if folders}}
        <span class="HeadmanComponent-fileFolders">
          {{#each folders}}{{this}} /{{/each}}
        </span>
        {{/if}}&nbsp;{{this.name}}
      </a>
      <div class="HeadmanComponent-html">
        {{{this.html}}}
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="HeadmanComponent">
      There are no components yet.
    </div>
    {{/if}}
  </div>
</div>
{{/content}}
{{/extend}}
