{{#extend "iframe"}}
{{#content "body"}}
<div class="HeadmanWrapper">
  <div class="HeadmanDocumentation">
    <h1>{{ name }}</h1>
    {{#if documentation}}
    {{{documentation}}}
    {{/if}}
  </div>
  <h2 class="Headman-sectionTitle">Information</h2>
  <dl class="HeadmanInformation">
    <div class="HeadmanInformation-wrapper">
      <dt class="HeadmanInformation-attr">Folder</dt>
      <dd class="HeadmanInformation-val"><code>{{ folder }}</code></dd>
      {{#if status}}
      <dt class="HeadmanInformation-attr">Status</dt>
      <dd class="HeadmanInformation-val"><span class="HeadmanStatus HeadmanStatus--{{ status.key }}">{{ status.label }}</span></dd>
      {{/if}}
    </div>
  </dl>
  {{#if schema}}
  <link rel="stylesheet" href="/headman/css/prism.css">
  <h2 class="Headman-sectionTitle">Schema</h2>
  <pre class="Headman-code language-{{schemaType}}"><code>{{{schema}}}</code></pre>
  {{/if}}
  {{#if variations}}
  <h2 class="Headman-sectionTitle">Variations</h2>
  {{/if}}
  {{#each variations}}
  <div class="HeadmanComponent">
    <div class="HeadmanComponent-head">
      <a href="{{ this.url }}" class="HeadmanComponent-file">{{
        this.variation
      }}</a>
      {{#if schemaValidation}}
        <p class="HeadmanComponent-schemaValidation">
          <span class="HeadmanStatus HeadmanStatus--{{#if schemaValidation.valid}}valid{{else}}invalid{{/if}}">{{schemaValidation.copy}}</span>
        </p>
      {{/if}}
    </div>
    <div class="HeadmanComponent-html">{{{this.html}}}</div>
  </div>
  {{/each}}
</div>
{{/content}}
{{/extend}}
