{% extends "@miyagi/layouts/iframe_default.twig" %}
{% block additionalCss %}
	{% for file in additionalCssFiles %}
	<link rel="stylesheet" href="/{{ file }}">
	{% endfor %}
{% endblock %}
{% block body %}
	{% if colors %}
		<div class="MiyagiWrapper">
			<div class="MiyagiContent">
				<div class="MiyagiStyleguide" data-media-queries='{{ mediaQueries }}'>
					<h1>Colors</h1>
					{% for color in colors %}
						{% if color.styles.length %}
							<ul class="MiyagiCustomPropsGroup MiyagiColors MiyagiColors--{{ color.type }}">
								{% for style in color.styles %}
									{% if style.customProp %}
										<li class="MiyagiCustomProp MiyagiColors-item"
											style="--color: var({{ style.customProp }});{% if style.isWhite %} --backdrop: #000;{% endif %}">
											<button class="MiyagiCustomProp-button MiyagiColors-button"
												aria-controls="styleguide-color-{{ style.name }}" aria-expanded="false" {% if style.type %}
												data-type="{{ style.type }}" {% endif %}>
												<span class="MiyagiColors-prop MiyagiCustomProp-prop">{{ style.name }}</span>
											</button>
											<dl class="MiyagiCustomProp-details" id="styleguide-color-{{ style.name }}" hidden>
												<dt class="MiyagiCustomProp-detailsProperty">Name</dt>
												<dd class="MiyagiCustomProp-detailsValue">{{ style.customProp }}</dd>
												{% for value in style.values %}
													<dt class="MiyagiCustomProp-detailsProperty">{{ value }}</dt>
													<dd class="MiyagiCustomProp-detailsValue" data-value="{{ value }}"></dd>
												{% endfor %}
											</dl>
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
