{{#extend "iframe"}}
  {{#content "body"}}
    {{#if cssFile}}
      <link rel="stylesheet" href="{{cssFile}}">
    {{/if}}
    {{#if jsFile}}
      <script src="{{jsFile}}"></script>
    {{/if}}
    <div id="RoundupComponent" class="RoundupComponentView">
      {{{html}}}
    </div>
    <script>
      const validations = {
        html: {{htmlValidation}},
        accessibility: {{accessibilityValidation}},
      }
    </script>
  {{/content}}
{{/extend}}
