{{#extend "main"}}
  {{#content "body"}}
    <nav class="ComponentLibrary-nav">
      {{#if folders}}
        <h1 class="ComponentLibrary-title">
          <a class="ComponentLibrary-link ComponentLibrary-link--showAll" href="?component=all" target="iframe"{{#if showAll }} aria-current="page"{{/if}}>Components</a>
        </h1>
        <button class="ComponentLibrary-toggleMobileMenu" aria-label="Show menu" aria-expanded="false"></button>
        <div class="ComponentLibrary-menu">
          {{#renderMenu folders currentComponent currentVariation null null }}{{/renderMenu}}
        </div>
      {{/if}}
    </nav>

    <main class="ComponentLibrary-content">
      <iframe class="ComponentLibrary-frame" id="iframe" src="{{iframeSrc}}" frameborder="0" name="iframe" title="Components"></iframe>
    </main>
    <aside class="ComponentLibrary-tests"{{#if componentOverview}} hidden{{/if}}>
      {{#each tests}}
        <div class="ComponentLibraryTest ComponentLibraryTest--{{this.alias}}" hidden>
          <b class="ComponentLibraryTest-title">{{this.title}}</b>
          {{#each this.results}}
            <details class="ComponentLibraryResults ComponentLibraryResults--{{this.alias}}">
              <summary class="ComponentLibraryResults-summary">
                {{this.label}}: <span class="ComponentLibraryResults-value ComponentLibraryResults-value--{{this.class}}">0</span>
              </summary>
              <div class="ComponentLibraryResults-details"></div>
            </details>
          {{/each}}
        </div>
      {{/each}}
    </aside>
  {{/content}}
{{/extend}}
