{% extends "@miyagi/layouts/iframe_default.twig" %}
  {% block body %}
    <div class="MiyagiWrapper">
      <div class="MiyagiContent">
        <div class="MiyagiDocumentation">
          {% if name %}
            <h1>{{ name }}</h1>
          {% endif %}
          {% if documentation %}
            {{ documentation }}
          {% endif %}
        </div>
        {% if renderInformation %}
          <h2 class="Miyagi-sectionTitle">Information</h2>
          <dl class="MiyagiInformation">
            <div class="MiyagiInformation-wrapper">
              <dt class="MiyagiInformation-attr">Folder</dt>
              <dd class="MiyagiInformation-val"><code>{{ folder }}</code></dd>
            </div>
          </dl>
        {% endif %}
        {% if renderFileTabs %}
          <h2 class="Miyagi-sectionTitle">Files</h2>
          <div class="MiyagiTabs">
            {% if schema %}
              <details class="MiyagiTabs-tab">
                <summary>Schema</summary>
                <pre class="Miyagi-code language-{{ schema.type }}"><span class="token comment">// {{ schema.file }}</span>

<code>{{ schema.string }}</code></pre>
              </details>
            {% endif %}
            {% if mocks %}
              <details class="MiyagiTabs-tab">
                <summary>Mocks</summary>
                <pre class="Miyagi-code language-{{ mocks.type }}"><span class="token comment">// {{ mocks.file }}</span>

<code>{{ mocks.string }}</code></pre>
              </details>
            {% endif %}
            {% if template %}
              <details class="MiyagiTabs-tab">
                <summary>Template</summary>
                <pre class="Miyagi-code language-{{ template.type }}"><span class="token comment">// {{ template.file }}</span>

<code>{{ template.string }}</code></pre>
              </details>
            {% endif %}
          </div>
          {% if schemaError %}
            <p class="MiyagiErrorMessage">{{ schemaError }}</p>
          {% endif %}
        {% endif %}
        {% if variations %}
          <h2 class="Miyagi-sectionTitle">Variants</h2>
        {% endif %}
      </div>
			{% for variation in variations %}
        <div class="MiyagiComponent">
          <div class="MiyagiContent">
            <div class="MiyagiComponent-head">
              <a href="{{ variation.url }}" class="MiyagiComponent-file">{{ variation.variation }}</a>
              <div class="MiyagiComponent-headMeta">
                {% if variation.mockValidation %}
                  <button class="MiyagiComponent-mockValidation js-openMockData" aria-controls="{{ variation.normalizedVariation }}">
                    <span class="MiyagiStatus MiyagiStatus--{% if variation.mockValidation.valid %}valid{% else %}invalid{% endif %}">{% if variation.mockValidation.valid %}Valid{% else %}Invalid{% endif %} mock data</span>
                  </button>
                {% else %}
                  <button class="MiyagiComponent-mockValidation js-openMockData" aria-controls="{{ variation.normalizedVariation }}">
                    Mock data
                  </button>
                {% endif %}
                <a class="MiyagiIframe-newTabLink" href="{{ variation.standaloneUrl }}" target="_blank" rel="noopener">
                  Open
                </a>
              </div>
              <div class="MiyagiComponent-mockData" hidden id="{{ variation.normalizedVariation }}">
                <div class="MiyagiComponent-mockDataInner">
                  <p class="MiyagiComponent-mockDataHeading"><b>{{ variation.variation }}</b> mock data</p>
                  <pre class="Miyagi-code language-{{ mocks.type }}"><code>{{ variation.mockData }}</code></pre>
                  <button class="MiyagiComponent-closeMockData js-closeMockData">Close</button>
                </div>
              </div>
            </div>
          </div>
          {% if renderInIframe %}
            <div class="MiyagiComponent-iframeWrapper" id="{{ variation.normalizedVariation }}-iframe">
              <iframe class="MiyagiComponent-iframe" src="{{ variation.standaloneUrl }}" frameborder="0" title="{{ variation.variation }}" id="iframe"></iframe>
            </div>
          {% else %}
            <div class="MiyagiComponent-html" dir="{{ componentTextDirection }}" lang="{{ componentLanguage }}">
              {{ variation.html }}
              {% if error %}
                <p class="MiyagiError">{{ variation.error }}</p>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% if renderInIframe %}
      <script>
        const eventMethod = window.addEventListener
          ? "addEventListener"
          : "attachEvent";
        const eventer = window[eventMethod];
        const messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
        const windowHeight = window.innerHeight;

        eventer(
          messageEvent,
          function (e) {
            const el = document.getElementById(e.data.id);

            if (el && e.data.height < windowHeight) {
              el.classList.add("has-fixedHeight");
              el.style.height = `${e.data.height}px`;
            }
          },
          false
        );
      </script>
    {% else %}
      {% for file in jsFilesBody %}
				{% set type_str = file.type ? " type=" ~ file.type ~ '"' : "" %}
				{% set defer_str = file.defer ? "defer" : "" %}
				{% set async_str = file.async ? "async" : "" %}
				<script src="{{ file.src }}"{{ type_str ~ defer_str ~ async_str }}></script>
			{% endfor %}
			{% if theme.js %}
        <script>
          {{{theme.js}}}
        </script>
      {% endif %}
    {% endif %}
  {% endblock %}
	{% block componentAssets %}
    {% if not renderInIframe %}
      {% if assets.css %}
      <link href="{{ assets.css }}" rel="stylesheet">
      {% endif %}
      {% if assets.js %}
        <script src="{{ assets.js }}"></script>
      {% endif %}
			{% if theme.css %}
        <style>
          {{{theme.css}}}
        </style>
      {% endif %}
    {% endif %}
  {% endblock %}
