{% macro list(items, index, type) %}
{% set level = index + 1 %}

<ul class="Menu-list Menu-list--lvl{{ level }} Menu-list--{{ type }}">

	{% for item in items %}
		{% set has_children = (item.variations and item.variations|length > 0) or (item.children and item.children|length > 0) %}
		<li class="Menu-listItem Menu-listItem--lvl{{ level }} Menu-listItem--{{ item.type }}">
			{% if has_children %}
				<button
					class="Menu-toggle Menu-toggle--lvl{{ index }}"
					aria-controls="{{ item.id }}"
					aria-expanded="{{ is_expanded(item, requestedComponent, requestedVariation) }}"
					title="Toggle submenu"
				></button>
			{% endif %}

			{% if item.shortPath %}
				{% set url = isBuild ? "component-" ~ item.normalizedShortPath ~ "-embedded.html" : "/component?file=" ~ item.shortPath ~ "&embedded=true" %}
				<a
					class="Menu-component Menu-component--lvl{{ level }} Menu-link Menu-link--lvl{{ level }}"
					href="{{ url }}"
					{% if is_active_component(item, requestedComponent, requestedVariation) %}
						aria-current="page"
					{% endif %}
				>
					{{ item.name }}
				</a>
			{% elseif not item.type %}
				{% set url = isBuild ? "component-" ~ item.normalizedParentShortPath ~ "-variation-" ~ item.normalizedName ~ "-embedded.html" : "/component?file=" ~ item.parentShortPath ~ "&variation=" ~ item.name|url_encode ~ "&embedded=true" %}
				<a
					class="Menu-link Menu-link--lvl{{ level }} Menu-link--variation"
					href="{{ url }}"
					{% if is_active_variant(item, requestedComponent, requestedVariation) %}
						aria-current="page"
					{% endif %}
				>
					{{ item.name }}
				</a>
			{% else %}
				<span class="Menu-component Menu-component--lvl{{ level }}">
					{{ item.name }}
				</span>
			{% endif %}

			{% if has_children %}
				<div class="Menu-listContainer" id="{{ item.id }}">
					{% if item.variations and item.variations|length > 0 %}
						{{ self.list(item.variations, level, "variations") }}
					{% endif %}
					{% if item.children and item.children|length > 0 %}
						{{ self.list(item.children, level, "components") }}
					{% endif %}
				</div>
			{% endif %}

		</li>
	{% endfor %}

</ul>
{% endmacro %}

{% import _self as self %}
{{ self.list(folders, -1, "components") }}
