<!DOCTYPE html>
<html lang="{{ lang }}" class="MiyagiTheme--{{ theme.mode }}" dir="{{ uiTextDirection }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <meta name="color-scheme" content="dark light">
    <title>Component</title>
    {% for file in jsFilesHead %}
			{% set type_str = file.type ? " type=" ~ file.type ~ '"' : "" %}
			{% set defer_str = file.defer ? "defer" : "" %}
			{% set async_str = file.async ? "async" : "" %}
			<script src="{{ file.src }}"{{ type_str ~ defer_str ~ async_str }}></script>
		{% endfor %}
    {% if dev %}
    <script src="{{ projectName }}/js/socket.io.min.js" defer></script>
    {% endif %}
    {% if accessibilityValidation %}
    <script src="{{ projectName }}/js/axe.min.js" defer></script>
    <script src="{{ projectName }}/js/iframe.axe.js" defer></script>
    {% endif %}
    <script src="{{ projectName }}/js/iframe{% if isBuild %}.build{% endif %}.js" {% if dev %} type="module" {% endif %}{% if prod %}
      defer{% endif %}></script>
    {% for file in cssFiles %}
			<link rel="stylesheet" href="{{ file }}">
		{% endfor %}
    <link rel="stylesheet" href="miyagi/css/prism.css">
    <link rel="stylesheet" href="{{ projectName }}/css/iframe-background.css">
    <link rel="stylesheet" href="{{ projectName }}/css/iframe.css">
    {% block additionalCss %}{% endblock %}
    {% if a11yTestsPreload %}
    <link rel="prefetch" href="{{ projectName }}/js/axe.min.js">
    {% endif %}
    <style>
      html {
        {% if theme.fontFamily %}--Miyagi-fontFamily: {{ theme.fontFamily }};{% endif %}
        {% if theme.light.content.colorBackground %}--Miyagi-color-Background: {{ theme.light.content.colorBackground }};{% endif %}
        {% if theme.light.content.colorText %}--Miyagi-color-Text: {{ theme.light.content.colorText }};{% endif %}
        {% if theme.light.content.colorHeadline1 %}--Miyagi-color-Headline1: {{ theme.light.content.colorHeadline1 }};{% endif %}
        {% if theme.light.content.colorHeadline2 %}--Miyagi-color-Headline2: {{ theme.light.content.colorHeadline2 }};{% endif %}
      }

      @media (prefers-color-scheme: dark) {
        html {
          {% if theme.dark.content.colorBackground %}--Miyagi-color-Background: {{ theme.dark.content.colorBackground }};{% endif %}
          {% if theme.dark.content.colorText %}--Miyagi-color-Text: {{ theme.dark.content.colorText }};{% endif %}
          {% if theme.dark.content.colorHeadline1 %}--Miyagi-color-Headline1: {{ theme.dark.content.colorHeadline1 }};{% endif %}
          {% if theme.dark.content.colorHeadline2 %}--Miyagi-color-Headline2: {{ theme.dark.content.colorHeadline2 }};{% endif %}
        }
      }

      .MiyagiTheme--light {
        {% if theme.light.content.colorBackground %}--Miyagi-color-Background: {{ theme.light.content.colorBackground }};{% endif %}
        {% if theme.light.content.colorText %}--Miyagi-color-Text: {{ theme.light.content.colorText }};{% endif %}
        {% if theme.light.content.colorHeadline1 %}--Miyagi-color-Headline1: {{ theme.light.content.colorHeadline1 }};{% endif %}
        {% if theme.light.content.colorHeadline2 %}--Miyagi-color-Headline2: {{ theme.light.content.colorHeadline2 }};{% endif %}
      }

      .MiyagiTheme--dark {
        {% if theme.dark.content.colorBackground %}--Miyagi-color-Background: {{ theme.dark.content.colorBackground }};{% endif %}
        {% if theme.dark.content.colorText %}--Miyagi-color-Text: {{ theme.dark.content.colorText }};{% endif %}
        {% if theme.dark.content.colorHeadline1 %}--Miyagi-color-Headline1: {{ theme.dark.content.colorHeadline1 }};{% endif %}
        {% if theme.dark.content.colorHeadline2 %}--Miyagi-color-Headline2: {{ theme.dark.content.colorHeadline2 }};{% endif %}
      }
    </style>
    <style>
      {{ theme.css }}
    </style>
		{% block componentAssets %}{% endblock %}
  </head>
  <body>
		{% block body %}{% endblock %}
    {{ jsFilesBottom }}
  </body>
</html>
